<div class="card">
  <form [formGroup]="netPointForm">
    <div class="mt-5 box">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label>Адрес стартовой точки</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text"
                     id="address"
                     formControlName="address"
                     class="form-control"
                     placeholder="г.Самара, Московское шоссе 34а || 54.38564,59.544545"
                     required>
            </div>
            <div>
              <button type="button" class="custom-button"(click)="addNetPoint()">Выбрать на карте</button>
            </div>
            <span class="text-danger" *ngIf="address && address.invalid && (address.dirty || address.touched)">
              * - поле обязательно для заполнения
            </span>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Код стартовой точки</label>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text"
                     id="code"
                     formControlName="code"
                     class="form-control"
                     placeholder="Университет"
                     required>
            </div>
            <span class="text-danger" *ngIf="code && code.invalid && (code.dirty ||code.touched) ">
              * - поле обязательно для заполнения
            </span>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <button type="button" class="custom-button" (click)="addNetPoint()">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col" id="table-container">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th class="table-primary" style="width: 50%">Адрес ТС</th>
        <th class="table-primary" style="width: 30%">Код ТС</th>
        <th class="table-primary" style="width: 20%"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let netPoint of listNetPoints">
        <td><span>{{netPoint.address}}</span></td>
        <td><span>{{netPoint.code}}</span></td>
        <td><button type="button" class="btn btn-primary" (click)="removeNetPoint(netPoint)">Удалить</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
